<div class="container">
  <div class="row">
    <div class="d-inline bg-light ml-5 my-3 px-2"><h3 class="text-justify">マイページ</h3></div>
  </div>
  <div class="row">
    <div class="m-2"><h5 class="font-weight-bold">登録情報</h5></div>
    <div class="m-2"><%= link_to "編集する", end_users_mypage_edit_path, class: "btn btn-sm btn-success" %></div>
  </div>
  <table class="table table-bordered border-dark w-50">
    <tbody>
      <tr>
        <td class="border border-dark table-active">氏名</td>
        <td class="border border-dark"><%= @user.last_name+" "+@user.first_name %></td>
      </tr>
      <tr>
        <td class="border border-dark table-active">カナ</td>
        <td class="border border-dark"><%= @user.last_name_kana+" "+@user.first_name_kana %></td>
      </tr>
      <tr>
        <td class="border border-dark table-active">郵便番号</td>
        <td class="border border-dark"><%= @user.zip_code %></td>
      </tr>
      <tr>
        <td class="border border-dark table-active">住所</td>
        <td class="border border-dark"><%= @user.address %></td>
      </tr>
      <tr>
        <td class="border border-dark table-active">電話番号</td>
        <td class="border border-dark"><%= @user.phone_number %></td>
      </tr>
      <tr>
        <td class="border border-dark table-active">メールアドレス</td>
        <td class="border border-dark"><%= @user.email %></td>
      </tr>
    </tbody>
  </table>
  <div class="row">
    <table>
      <tr>
        <td class="p-2"><h5 class="font-weight-bold">配送先</h5></td>
        <td class="p-2"><%= link_to "一覧を見る", addresses_path, class:"btn btn-sm btn-info" %></td>
      </tr>
      <tr>
        <td class="p-2"><h5 class="font-weight-bold">注文履歴</h5></td>
        <td class="p-2"><button type="button" class="btn btn-sm btn-info">一覧を見る</button></td>
      </tr>
    </table>
  </div>
</div>