<!DOCTYPE html>
<html>
  <head>
    <title>NaganoCake</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="vsc-initialized">
    <header>
      <nav class="navbar navbar-expand-lg navbar-dark">
        <div class="container">
          <%= link_to "LOGO", admin_root_path %>
          <div>
            <ul class="navbar-nav ml-auto">
              <% if admin_signed_in? %>
              <li>商品一覧</li>
              <li>
                <%= link_to "会員一覧", admin_end_users_path %></li>
              <li>注文履歴一覧</li>
              <li>ジャンル一覧</li>
              <li>
                <%= link_to "ログアウト", destroy_admin_session_path, method: :delete %>
              </li>
              <% else %>
              <li>商品一覧</li>
              <li>
                <%= link_to "新規登録", new_end_user_registration_path %>
              </li>
              <li>
                <%= link_to "ログイン", new_end_user_session_path %>
              </li>
              <% end %>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <main>
    <%= yield %>
    </main>
    <footer>
    </footer>
  </body>
</html>