<p>注文情報確認</p>
<table class="table">
    <thead>
        <tr>
            <td>商品名</td>
            <td></td>
            <td>単価(税込）</td>
            <td>数量</td>
            <td>小計</td>
        </tr>
    </thead>
    <tbody>
        <% @sum = 0 %>
        <% @cart_items.each do |cart_item| %>
        <tr>
            <td><%= attachment_image_tag cart_item.item, :image, :fill, 30, 30 %></td>
            <td><%= cart_item.item.name %></td>
            <td><%= 1.1*cart_item.item.price_without_tax %></td>
            <td><%= cart_item.amount %></td>
            <td><%= 1.1*cart_item.item.price_without_tax*cart_item.amount %></td>
            <% @sum += 1.1*cart_item.item.price_without_tax*cart_item.amount %>
        </tr>
        <% end %>
    </tbody>
</table>
<table class="table">
    <tbody>
        <tr>
            <td>送料</td>
            <td>800</td>
        </tr>
        <tr>
            <td>商品合計</td>
            <td><%= @sum %></td>
        </tr>
        <tr>
            <td>請求金額</td>
            <td><%= @sum += 800 %></td>
        </tr>
    </thead>
</table>
<div>
    <p>支払い方法</p>
    <p><%= @neworder.payment_method_i18n %></p>
</div>
<div>
    <p>お届け先</p>
    <p><%= @neworder.zip_code %> <%= @neworder.address %></p>
    <p><%= @neworder.name %></p>
</div>
<div>
    <%= form_with model:@neworder, url:orders_path, local:true do |f| %>
        <%= f.hidden_field :end_user_id, value: current_end_user.id %>
        <%= f.hidden_field :zip_code, value: @neworder.zip_code %>
        <%= f.hidden_field :address, value: @neworder.address %>
        <%= f.hidden_field :name, value: @neworder.name %>
        <%= f.hidden_field :payment_method, value: @neworder.payment_method %>
        <%= f.hidden_field :shipping_fee, value: 800 %>
        <%= f.hidden_field :payment, value: @sum %>
        <%= f.submit "注文を確定する", data: { confirm: "注文を確定しますか？" }, class:"btn btn-sm btn-success" %>
    <% end %>
    <!--< %= link_to "注文を確定する", orders_path, method: :post, data: { confirm: "注文を確定しますか？" }, class:"btn btn-sm btn-success" %>-->
</div>