<p>注文情報確認</p>
<table class="table">
    <thead>
        <tr>
            <td>商品名</td>
            <td></td>
            <td>単価(税込）</td>
            <td>数量</td>
            <td>小計</td>
        </tr>
    </thead>
    <tbody>
        <% @sum = 0 %>
        <% @cart_items.each do |cart_item| %>
        <tr>
            <td><%= attachment_image_tag cart_item.item, :image, :fill, 30, 30 %></td>
            <td><%= cart_item.item.name %></td>
            <td><%= 1.1*cart_item.item.price_without_tax %></td>
            <td><%= cart_item.amount %></td>
            <td><%= @sum += 1.1*cart_item.item.price_without_tax*cart_item.amount %></td>
        </tr>
        <% end %>
    </tbody>
</table>
<table class="table">
    <tbody>
        <tr>
            <td>送料</td>
            <td>800</td>
        </tr>
        <tr>
            <td>商品合計</td>
            <td><%= @sum %></td>
        </tr>
        <tr>
            <td>請求金額</td>
            <td><%= @sum += 800 %></td>
        </tr>
    </thead>
</table>
<div>
    <p>支払い方法</p>
    <p><%= @order.payment_method %></p>
</div>
<div>
    <p>お届け先</p>
    <p><%= @order.zip_code %><%= @order.address %></p>
    <p><%= @order.name %></p>
</div>
<div>
    <%= link_to "注文を確定する", orders_path, method: :post, data: { confirm: "注文を確定しますか？" }, class:"btn btn-sm btn-success" %>
</div>
以下の内容が表示されること
カート内商品の情報
注文情報入力画面で入力した、支払い方法・お届け先
送料・商品合計・請求金額
購入を確定するをクリック後、確認ダイアログを表示する。OKを押すと注文作成処理がなされ、完了後、注文完了画面に遷移。