<P>注文情報入力</P>
<%= form_with model:@neworder, url:orders_confirm_path, local:true do |f| %>
<div>
  <label>支払い方法</label>
  <label><%= f.radio_button :payment_method, 0 %>クレジットカード</label>
  <label><%= f.radio_button :payment_method, 1 %>銀行振込</label>
</div>
<div>
  <label>お届け先</label>
  <div><%= f.radio_button :address_option, 0 %>ご自身の住所</div>
  <div>〒<%= @user.zip_code %> <%= @user.address %></div>
  <div><%= @user.first_name %><%= @user.last_name  %></div>
</div>
<div>
  <div><%= f.radio_button :address_option, 1 %>登録先住所から選択</div>
  <div><%= f.collection_select :address_id, @user.addresses.all.map{|a| ["#{a.zip_code} #{a.address} #{a.name}", a.id] }, :second,:first %></div>
</div>
<div>
  <div><%= f.radio_button :address_option, 2 %>新しいお届け先</div>
    <div>郵便番号(ハイフンなし）<%= f.text_field :zip_code %></div>
    <div>住所<%= f.text_field :address %></div>
    <div>宛名<%= f.text_field :name %></div>
</div>
<div><%= f.submit "確認画面へ進む", class:"btn btn-sm btn-info" %></div>
<% end %>
<!--自分の住所/配送先/新規新規住所の選択: ラジオボタン+テキスト入力-->
<!--配送先には、登録している配送先を選択できるプルダウン-->
<!--確認画面に進むをクリックすると、注文情報確認画面に進む。-->