<div><%= attachment_image_tag @item, :image, :fill, 100, 100 %></div>
<div>
    <div><%= @item.name %><div>
    <div><%= @item.introduction %></div>
    <div>¥<%= 1.1*@item.price_without_tax %>(税込）</div>
    <%= form_with model:@new_cart_item, url:cart_items_path, local:true do |f| %>
    <div>
        <%= f.hidden_field :item_id, value: @item.id %>
        <%= f.select :amount, [["1","1",],["2","2"],["3","3"],["4","4"],["5","5"]] %>
        <%= f.submit "カートに入れる", class:"btn btn-sm btn-success" %>
    </div>
    <% end %>
</div>
